[2014-07-28 19:52] gdw2 opened #2 "MIT license okay?"
Hi Andrew.  I specified the "MIT" license in the package.json.  I hope that's okay! ( I thought it would do a PR instead of just committing it when editing it through the github UI, but it didn't.)

[2014-08-08 21:52] #2 closed, assigned to nobody

[2014-08-15 18:31] connorbode opened #4 "bad request body"
Hey! This is more of a question than an issue.

When a request is bad, does the content of the response body reflect why the request was bad?

[2014-08-17 14:51] #4 closed, assigned to nobody

[2014-09-10 19:05] alex-whitney opened #5 "Call next with an error on validation failures instead of sending JSON"
It would be great to provide an option that would cause the middleware to `next` an error instead of sending JSON. This would allow an error handler to be written that would support content negotiation for error messages. Furthermore, it would `express-validation` to be used in cases where a validation failure is not strictly the end of a routing chain.

I would be more than happy to author this c

[2014-10-28 12:45] #5 closed, assigned to nobody

[2015-03-11 01:49] mrgamer opened #6 "Change default status code at declaration"
I appreciate status code and status text can be customized by a per-validation basis, but what about changing globally at requre level?

As
[code]

[2015-03-17 15:32] AndrewKeig commented on #6
Sure, makes sense, if you want this now i'm happy to take a pull request, otherwise I will get it in asap.

[2015-03-17 15:36] mrgamer commented on #6
I did not provide a PR because the proposed change breaks the API big time...

everyone has to migrate their includes
[code]

Seems ugly to me, and bad for your user-base... It would be cool to implement a runtime option system without breaking the API

[2015-03-19 11:05] AndrewKeig commented on #6
Good point..  Will look into it and come up with a solution.

[2015-04-23 15:03] #6 closed

[2015-07-09 15:20] aymericbeaumet opened #12 "Cookie validation"
I wonder if there was a specific reason to omit the cookies validation? I'm currently facing the use-case where I need to do a preliminary check for a cookies before using its content.

[2015-07-09 15:25] mrgamer commented on #12
I don't think there is any reason, and I find your need completely in line with this module, validation for express.js.
It can be added, and should not take many LOCs, so expect that soon, or, if you prefer, provide a PR yourself

[2015-07-09 15:30] aymericbeaumet commented on #12
Yeah I will take care of it

[2015-07-09 16:18] matteolefthanders opened #13 "Problems"
1) I don't understand who is validation.login passed at validate(validation.login) - if is the Joi Schema immediately below, or anything else.
2) You've to Change app.use(express.bodyParser()), because it returns -> Error: Most middleware (like bodyParser) is no longer bundled with Express and must be installed separately.

[2015-07-09 22:07] aymericbeaumet commented on #12
https://github.com/AndrewKeig/express-validation/pull/14

[2015-07-10 17:41] #12 closed

[2015-07-10 17:49] mrgamer commented on #13
I'll adress those documentation issues in the weekend, thanks

[2015-07-31 00:13] poliveira89 opened #15 "JSON.parse(res.text) returns "Unexpected token &""
On my tests I handle the response just like documentation suggest. But I receive this error `Unexpected token &`.

[2015-07-31 09:08] poliveira89 commented on #15
This output it happens on the client-side as well.

On your middleware function, you are sending TEXT with `&quote;` instead a string with `\"`

[2015-08-20 18:23] iheanyi opened #17 "Unable to validate arrays without context."
So, this is more of a feature of Joi that is buggy but currently we can't do this with Express-Validation in order to use a reference value on an array. I think I know of a workaround/fix for this and that would be passing in an `allowContext` input at the validaton function [line 55](https://github.com/AndrewKeig/express-validation/blob/master/lib/index.js#L55) and then also making the default co

[2015-08-21 14:30] mrgamer commented on #17
sure, if specifying the context is all that it takes, well.. It's seems a nice workaround!

[2015-09-03 15:07] #17 closed

[2015-09-03 16:02] dougmoscrop opened #20 "Breaking changes in 0.4.4"
Hi there,

It seems like in 0.4.3 to 0.4.4 req.query is manipulated now so that it is parsed, so anywhere that we have code that, after validation, might JSON.parse(req.query.xyz) it will already be an object. This can be dealt with defensively, but not sure I want my validation to manipulate my request and if I do, should probably go under a major version bump?

[2015-09-03 23:31] #13 closed

[2015-09-10 11:47] boldt opened #21 "Feature request: remove unknown fields"
Until now, you have `allowUnknown*`, which make sure that keys not intended in the data are passed through or not.

**This is a feature request**:

Modify the options,  such that keys not intended to be in the data are dropped. The idea comed from [Paperwork](https://github.com/lperrin/paperwork#changes-from-1x):

*Paperwork now silently removes unknown fields from the validated blob. This is done

[2015-09-12 09:27] colthreepv commented on #21
The idea itself is not bad, I am a bit against the _silently remove fields_
In case a library _silently_ removes something, this has to be explicitly set in the options, not as default, as it can throw new developers off.

I don't actually see the security risk, either, but maybe I haven't seen a good example.
Let's suppose an API expects:
[code]

And an attacker sends a JSON file comprised of 57

[2015-09-14 17:56] boldt commented on #21
At the moment `allowUnknown*` are set to true by default. I did nit suggest to set the `remove` as the default.

 In case a library silently removes something, this has to be explicitly set in the options, not as default, as it can throw new developers off.

The next days, I will create an example for you.

[2015-09-17 17:01] colthreepv commented on #20
You are indeed right @dougmoscrop, I tested a little and discovered that [this simple line](https://github.com/AndrewKeig/express-validation/blob/master/lib/index.js#L63) does way more than expected.

It was definitely a mistake, I am uncertain if roll back is possible for 0.4.x or if it's even a good idea to do that.

Next release will be surely `0.5`, with some tests checking for req parsing.
Do

[2015-09-17 18:21] AndrewKeig commented on #20
Are you happy for me to push this to npm?

[2015-09-17 18:56] colthreepv commented on #20
mmm no Andrew I'd rather be more careful and pull out a refined and documented 0.5

[2015-09-17 19:00] AndrewKeig commented on #20
Fair enough, let us know when your ready.

[2016-01-06 08:14] pht-prakhar commented on #15
I am having same issue.
This is because the error message thrown from the middleware is not a JSON object

[2016-01-06 09:10] pht-prakhar commented on #15
Use this to remove the error.

app.use(function (err, req, res, next) {
    if (err.message === 'validation error') {
        res.status(err.status).json(err);
    } else {
        next(err);
    }
});

[2016-01-30 11:14] eyalw opened #23 "Allow to pass global joi options like: { presence: 'required' }"
Please make it available to set the default for joi schema as { presence: 'required' },
I don't like setting .required() for each rule that I add, it's easier for me to specify .optional() when needed.
Also - allow to change this 'presence' setting per request (and not only global defaults).

If you agree with this I would be happy to send a PR.

[2016-02-17 18:13] Naktibalda opened #26 "Content-Type is set to text/html"
It could be my issue, but I have no idea what am I doing wrong.

How could I change Content-Type to application/json?

router:
[code]

validator:
[code]

Test code:
[code]

Error message:
[code]

[2016-02-18 01:50] colthreepv commented on #26
I think this actually depend on the error handler middleware you are using in expressjs.

`express-validation` only throws an error to `next`,  that you should handle

[2016-02-19 14:50] Naktibalda commented on #26
Thanks,

It appears that I had no error handler, because errorhandler was added before routes.

[2016-02-19 14:50] #26 closed

[2016-04-07 20:22] silverlight513 opened #27 "Response headers from error should be application/json"
The response of the error given by express-validation is `text/html; charset=utf-8` when it should be `application/json; charset=utf-8`. Because it is text/html responses given back are parsed as below:

[code]

[2016-04-07 21:44] silverlight513 commented on #27
Made some headway into changing the content type:

If the error handler is provided and the routes provide 4 params instead of the standard 2 (req, res) then json is sent.
[code]

[2016-04-10 09:42] silverlight513 commented on #27
I've been doing some messing about to see what's going on. The response has been broke since the change to force the consumer to handle the error in version 0.3.0. Version 0.2.0 seems to be the only working version. I've had to make my own fork and load in a version 0.2.0 which I got from npm as it's been removed from git and then make changes to make it complaint with current express.

[2016-04-10 19:38] colthreepv commented on #27
Errors are objects and should be handled with an error-handler in your express application [as the example in home page](/AndrewKeig/express-validation#setup)
The example uses `res.status(400).json(err);` this is a shortcut that sets the response as `application/json`

Using version prior as `0.3.0` gives the `application/json` header because the library doesn't use standard express middlware erro

[2016-04-10 20:28] silverlight513 commented on #27
This is what my set up looked like and it didn't seem to be handling the error responses within the error-handler.

[code]

I just noticed that the error handler on the readme.md is underneath the routes. Would that be why it's not being used on my implementation?

[2016-04-10 20:31] silverlight513 commented on #27
Yup, just tested it and that is what the issue is. Is there a reason why the order of such a thing would cause this to happen in express? Sorry, I'm extremely new to backend JS.

[2016-04-10 20:31] #27 closed

[2016-04-11 00:03] colthreepv commented on #27
Order of middleware is relevant, express-middleware basically calls a `next(err)` with `err` being the JSON error.

So the next middleware receives this object, if there is not a next middleware in the chain of `/users` then it refers to the "global" chain, but it has to be defined after it.

It is a tricky implementation for newcomers, but it's not an express design, it is based off Ruby on Rails

[2016-04-27 10:43] cuongsimplypost opened #28 "How to remove slash '\' character out of error messages"
Hi all,

I'm using joi to validate my apis request. All things is good except the error message return the field name with slash '\' character.

[code]

Do we have any option to remove it ?
Thanks,

[2016-05-04 07:48] selbest commented on #15
@pht-prakhar  but your solution not work for me.
could I define the the error message type from the middleware

[2016-05-10 23:12] #20 closed

[2016-05-17 08:42] okekhj opened #29 "failed `npm install` with npm@3"
NOTE: npm versions 1 and 2 will automatically install peerDependencies if they are not explicitly depended upon higher in the dependency tree. In the next major version of npm (npm@3), this will no longer be the case. You will receive a warning that the peerDependency is not installed instead.

[2016-05-17 08:44] colthreepv commented on #29
Acknowledged, where is the issue?
This only means you have to install `joi` in your project

[2016-05-17 09:42] #29 closed

[2016-06-29 13:06] colthreepv commented on #28
`\"` are necessary to escape `"` double quotes in the JSON body.

What you ask is change the error message from `"email" must be valid` to `email must be valid` ?

[2016-06-29 13:08] colthreepv commented on #15
I think this issue is very old, and now errors have a specific Error Class (ValidationError), so checking for message seems less robust.

Feel free to re-open if things seems still broken on your end

[2016-06-29 13:08] #15 closed

[2016-06-29 13:10] colthreepv commented on #21
Added `wontfix` for now as I don't agree removing parts of request payload adding this library to an existing project (it could create more havoc than profit)

Feel free to re-open with examples or a PR making this feature behind a flag

[2016-06-29 13:10] #21 closed

[2016-06-30 12:59] cuongsimplypost commented on #28
Hi @colthreepv : I think "email must be a valid email" is better.

[2016-06-30 13:36] colthreepv commented on #28
The message is directly from `joi`, in this library there are no strings involved, It will simply forward joi error to expressjs.

You can still edit all the Joi configuration options, before creating a validation object for express-validation

[2016-06-30 13:36] #28 closed

[2016-06-30 13:38] colthreepv commented on #23
This library is just a bridge to bring `Joi` messages to `expressjs`

Such option is available in the [Joi documentation](https://github.com/hapijs/joi/blob/v9.0.0-9/API.md#extendextension), as you can extend Joi, making a new object that requires any field that you create.

[2016-06-30 13:38] #23 closed

[2016-06-30 15:14] cuongsimplypost commented on #28
@colthreepv : Thanks for your clarification 👍

[2016-07-06 19:21] robwalkerexp opened #30 "Express-validation does not work with Joi 9"
[Joi 9](https://github.com/hapijs/joi/blob/v9.0.0-9/API.md) has new features that I would like to use for my project however express-validation requires a v8.x.x version of Joi.

Any chance of getting support for Joi 9?

[2016-07-06 23:24] colthreepv commented on #30
Actually `express-validation` has joi as a peerDependency, so it's actually a "suggested" version.
You have to install Joi manually in your project.

I have tried installing `joi@9-beta` (that's the dist-tag for the beta) and express-validation 1.x, npm 3.x gives a WARN for peerdependency not respected, but it will let you install it.

Please note that express-validation has not been tested with j

[2016-07-06 23:34] robwalkerexp commented on #30
I've done that and it works on NPM 3.x however I just realized that the machine this is failing on is running NPM 2.x. I'm looking at getting that upgraded to resolve the issue.

[2016-07-07 22:03] #30 closed

[2016-07-12 08:04] mikebrules opened #31 "Validation throws a 500 rather than 400"
Hi, I've stripped out all other middleware and used the example in the README, express-validation has installed Joi as a dependency so version should be okay, but it is throwing a 500 on invalidate req object rather than the expected 400. Here is the test case;

`

[code]

Thanks in advance - what am I doing wrong. Using 1.0.0

[2016-07-12 08:07] mikebrules commented on #31
Haha, Just seen this on the README
     `

     // error handler, required as of 0.3.0

     app.use(function(err, req, res, next){
       res.status(400).json(err);
     });
    `
    I'm guessing that is it!

[2016-07-12 09:51] colthreepv commented on #31
Sorry, this is a recurring question, I will re-open and look for better documentation options.
If someone happens to have a better solution, can propose it here, or via PR

[2016-07-25 21:21] mattstuhring opened #32 "Upgrade to Joi ^9.0.4"
Express-validation is requiring a version of Joi ^8.0.5.  But the most recent release of Joi is 9.0.4.  It would be great if this was updated so I can use the latest version of Joi.

[2016-07-27 10:20] gracjan opened #33 "Middleware send text/html instead of application/json"
What I get from validation is this:

[code]

How to change content-type and prevent html escaping?

[2016-08-06 11:42] sergio11 opened #34 "validation on param converter"
Hi,

How I can use validation in a param converter?
I wanted to use Joi.objectId () to validate that this is a mongodb valid id

[code]

Thanks and regards

[2016-08-06 12:03] colthreepv commented on #34
I think you can just use:

`router.param('id', validate(paramValidation. user), userCtrl.load);`

The param callbacks receive the same middleware structure as full-fledged
routes

Il 06/ago/2016 13:42, "Sergio Sánchez Sánchez" <notifications@github.com>
ha scritto:

[2016-08-06 12:55] sergio11 commented on #34
Hi,

If I do that , the converter param callback (userCtrl.load) is not called.

thanks for answering

[2016-08-08 09:55] chuyik opened #35 "Koa version?"
Is it possible to provide a Koa version?

[2016-08-10 07:39] kretz opened #36 "Validating array body"
Hi,

Not sure if this is a bug or not, but let me explain what I want to do and the results I see.

I want to validate a that the body of a POST is a JSON array of objects. I have a schema like this:

[code]

If I send in body data that is an array, `[{id:1}]` then I get this error:

[code]

It seems that Joi requires the body to be an objext. And to verify, If I send body data that is an object,

[2016-08-10 11:46] colthreepv commented on #35
definitely possible, didn't use much of Koa myself, but accepting any PR in the meantime I get up to speed on it 😁

[2016-08-10 11:48] colthreepv commented on #32
Joi it's just a peerDependency, with npm 3.x you can install any version of peerDependency, it will just pop out a warning.

On the next commit I will update the package.json

[2016-08-10 12:12] colthreepv commented on #36
Okay, nice catch first of all! 😉

The problem is the [context sent to Joi](https://github.com/AndrewKeig/express-validation/blob/master/lib/index.js#L41-L42)

The original idea was pass the request as a context so developers could reference other keys without referencing `body/query/etc` #17

A quick fix for your problem would be to set `contextRequest: true` in the global or in the specific optio

[2016-08-19 21:20] holm commented on #30
It would be good if the restriction on Joi could be lifted a bit. While you can install Joi@9, you will not be able to shrinkwrap anymore (which we use).

[2016-08-19 21:29] colthreepv commented on #30
Oh, I see. Never used shrinkwrap myself, so didn't know this would create
limitations.
Will merge at once, thanks for pointing this out

Il 19/ago/2016 23:20, "Christian Holm" <notifications@github.com> ha
scritto:

[2016-08-22 12:22] sudhirbitsgoa opened #38 "or condition between params"
[code]
Can we write validation to check atleast one of query param is present

[2016-08-22 16:50] colthreepv commented on #38
I never had this need, but you can try this:

file: `test/validation/your-api.js`
[code]

Please let us know if that works as expected ^_^

[2016-08-29 12:29] matt-blanchette commented on #36
+1

[2016-09-16 13:00] IrynaBu commented on #33
I have the same problem and I can't find solution in google

[2016-09-16 14:49] colthreepv commented on #33
I think this is solved with an error-handling function #31
Issue 31 is also regarding how to document it better.... this requirement is already documented in README, but probably it's not clear enough

[2016-09-19 06:54] IrynaBu commented on #33
This saved me :)
router.use((err, req,res,next)=>{
  if (err instanceof ValidationError){
    res.status(err.status).json(err);
  } else {
    res.send(err);
  }
});

[2016-10-11 07:25] ShaileshDevadiga opened #41 "expresss validation to check id present in param and body are same"
Hi,
I have a scenario where i need id present in  param and body to be same.
This is the validation schema i'm using:
[code]

and the test case:
[code]
Even though the id's present in params and body are same I'm getting this response.
[code]

Can anyone please help me in understanding what i'm doing wrong?

[2016-10-11 07:28] colthreepv commented on #38
any update on this? does it work?

[2016-10-11 08:25] colthreepv commented on #41
the option `contextRequest` is missing in the options, you can find a [working example here](https://github.com/AndrewKeig/express-validation/blob/master/test/validation/context.js)

[2016-10-11 10:00] ShaileshDevadiga commented on #41
I have added contextRequest in the options as you mentioned :+1:
 module.exports.post= {
	options: { contextRequest: true },
  body: {
       id: Joi.string().valid(Joi.ref('$params.id')).required()
  }
};

but still it is giving me 400 bad request.

[2016-10-11 10:02] colthreepv commented on #41
Sorry then, I think there must be something wrong with your codebase, which version of `express-validation` are you using?
There is an automated test that checks exactly for your use-case, so I presume this is working as expected in the library

[2016-10-11 10:06] ShaileshDevadiga commented on #41
0.6.0

[2016-10-11 10:08] colthreepv commented on #41
explained the problem... it's a feature of [1.0.0 release](https://github.com/AndrewKeig/express-validation#changelog)

[2016-10-11 10:08] #41 closed

[2016-10-11 10:47] ShaileshDevadiga commented on #41
thanks it's working now

[2016-10-15 16:58] #38 closed

[2016-10-19 10:34] awilkins opened #45 "_assignIn doesn't cope with all Joi mutations"
[code]

I have a validation that strips fields under certain conditions. This doesn't work with `express-validation` because it copies keys from the Joi result to the result body, but keys that are omitted aren't removed.

Rather than place the responsibility of mutating the result in two places - Joi **and** express-validation, it works better if you just take the output of Joi and replace the co

[2016-10-19 11:43] ShaileshDevadiga opened #47 "Schema validation using express-validation"
Is it possible to check conditional parameter using express-validation?
I want my JSON to have a value in  either a or b or both.If both of them doesn't have any value it should return 400 bad request.So I tried with 'OR' condition as given below.

Scenario:
payload= {
                      body :  {
                             'properties' : Joi.object().keys({
                       'a':Joi.any

[2016-11-09 08:57] colthreepv commented on #32
#40 fixed this

[2016-11-09 08:57] #32 closed

[2016-11-10 15:49] JulienStitelet opened #49 "Give a name to your middleware help me Unit Test my routes"
Hi,

Testing my routes, I list all middleware for my routes, and I want to assert 'Validate' middleware is implemented.
Currently, as it has no given name, it returns me <anonymous>.
A simple change at line 32 in index.js
from : return function (req, res, next)
to : return function Validate (req, res, next)
Now gives me "Validate" as handler name, and it's ok.

Do you think it's ok to add this cha

[2016-11-10 15:52] colthreepv commented on #49
Im not a fan of exporting anonymous functions either, I agree.

[2016-11-22 14:29] gedennis opened #50 "option flatten behaves unreasonable"
Hi:
when I wrote a middleware to handle the error,  I passed a option 'flatten',  then I got an unexpected result. I read the code, and maybe that is the problem.
The origin code:
[code]
or mybe it should be:
[code]
Not sure if it is a bug,  waiting for ur answer, thx!

[2016-11-22 14:36] colthreepv commented on #50
Indeed, you seem correct

[2016-11-22 14:42] gedennis commented on #50
@colthreepv ok，waitting for ur fix  (^ _ ^)

[2016-12-02 11:52] colthreepv commented on #36
This has been addressed in the upcoming 2.x release, writing changelog as we speak

[2016-12-02 13:17] colthreepv commented on #47
If this is possible to be done with Joi, it's then possible to be done with this library.
If I have time, I will try an option like that myself

[2016-12-02 13:27] #45 closed

[2016-12-02 16:56] colthreepv commented on #50
Fixed

[2016-12-02 16:56] #50 closed

[2016-12-02 16:56] #47 closed

[2016-12-02 16:57] colthreepv commented on #49
Fixed!

[2016-12-02 16:57] #49 closed

[2016-12-02 16:58] colthreepv commented on #36
Should be fixed, a test would be bliss in this case, can you please test it if you have time?

[2016-12-02 16:58] #36 closed

[2016-12-09 07:47] phpedinei opened #53 "stripUnknown"
Please, add support a stripUnknown

https://github.com/hapijs/joi/blob/master/API.md#validatevalue-schema-options-callback

Thanks

[2016-12-09 09:43] colthreepv commented on #53
Okay, since 2.x is in a pre-release status I can add this smoothly.

It would be bliss to receive some tests in form of PR, I will publish the working code + doc today

[2017-01-03 15:52] liviuignat opened #54 "TypeScript definitions"
Hi,

Any plans to add typescript definitions?

Thanks.

[2017-02-23 07:08] psabharwal3 opened #55 "Returning 400 for all errors doesnt make sense"
nvm reading through the doc i see there is a custom error i can check for

[2017-02-23 07:10] #55 closed

[2017-02-27 13:31] Spoki4 opened #56 "TypeScript custom validator"
How I can an extend the validator with my validator functions? I do this:
[code]
when create express app:
[code]
but I think it's not a right solution. Can you help me or say how I can do this right.

[2017-03-01 21:11] exprodrigues opened #57 "Links 'test/*' in doc are broken"
All links `test/*` in the README are broken: e.g. `test/validation/login.js`

[2017-03-05 19:01] tex0l opened #58 "Upgrade to Joi 10"
Hi,

I've seen you've already bumped joi in the master branch, but you haven't released it. The issue here is more to ask you to release a version that requires a peer dependency of joi@^10.0.0 :). Let me explain why:

I'm using express-validation (with joi) and vanilla joi somewhere else in my project. I use joi 10 and since the latest published version requires a peer dependency of joi@^9.0.4, I

[2017-03-05 19:52] colthreepv commented on #58
okay, have you already tested it with Joi 10?
it's usually very smooth transition, just I had no time to read the changelog yet

[2017-03-05 19:58] tex0l commented on #58
In my case it works fine, but I haven't tested it exhaustively:

Here are the joi changelogs: https://github.com/hapijs/joi/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3A%22release+notes%22

[2017-03-10 18:04] colthreepv commented on #58
What about using `peerDependencies: { "joi": "*" }` is that even valid?

This will offload responsability to end-users. that's exactly what always happens in those cases

[2017-03-10 18:32] colthreepv commented on #58
Should be fixed in new `1.0.2` release, and this should put an end on the "bump" requests.

Side note: sorry for the general slowness, I left the library in the middle of a rewrite, that will see it's release very soon (I was hoping for a documentation review); now the repository has been tidy up to let simple releases like this go like a breeze (as they should!)

[2017-03-10 18:32] #58 closed

[2017-03-15 13:37] wlechowicz opened #59 "TypeError: Cannot read property 'length' of undefined - when using .error()"
When trying to set a custom error message as per [Joi API reference](https://github.com/hapijs/joi/blob/v10.2.2/API.md#anyerrorerr), for example:
`Joi.string().error(new Error('expected a string, actually'))`
then express-validation throws
`TypeError: Cannot read property 'length' of undefined` in index.js line 76
because `.error(new Error('message'))` produces an Error instance without `.details`

[2017-03-16 13:16] wlechowicz commented on #59
Since Joi asserts if the argument provided to the `.error()` function is an instance of Error, then one quite ugly workaround is to do
[code]
and then in schema
[code]
which will produce an output such as
[code]
which kind of works, but again, is ugly and bad and redundant (you have to type the path manually, because at the time of evaluating `.error()`, it's not populated by Joi yet).

[2017-03-16 14:06] colthreepv commented on #59
Okay, that was unexpected.. never tried this functionality.
I think you want to have a custom error message from Joi, instead of the default one

If you wish to keep the Joi error structure, you can try using the  `.options()` functionality

Example:
[code]

If you read carefully the documentation, overriding these messages is quite tricky, as they tend to be as specific as possible.

express-vali

[2017-03-16 14:27] wlechowicz commented on #59
Actually a simple string isn't a very good example of the issue I reported, I just used it for simplicity (and mentioned that actual use case is for regexes). Most common case where you'd want to override an error message on a schema entry level basis would be regex validated strings, so for
[code]
you get something more user-friendly (or frontend-friendly) than
[code]
as this is not something you

[2017-03-16 14:50] colthreepv commented on #59
There is a simple option to name a regex "pattern", I know that is not optimal.

Still, what's the alternative?
I only see few options:

  * `express-validation` checks if a "custom" error is returned from Joi, and just forwards it.
     Now you will have what you expect, but what really happens it's this library will output 99% of the time a standard ValidationError, and when Joi is overridden, r

[2017-03-16 15:09] wlechowicz commented on #59
I agree that the root of the evil is that Joi chooses to have a completely different outcome whenever `.error()` is used, I'm just arguing that it would make sense to safeguard against that and not have `express-validation` blow up whenever someone uses `.error(new Error('I love giving my users a 500 response'))` in the schema.

[2017-03-16 15:15] colthreepv commented on #59
Sure, I see your point, probably will go with that (1), the custom branch should be a little more solid now.

I will see how that merges in the 2.x branch, will release it also for 1.x version to avoid application crashes

[2017-03-16 16:59] Matzu89 commented on #53
@colthreepv what is the current status of this?

[2017-03-16 17:10] colthreepv commented on #53
It's in the [2.x branch](https://github.com/AndrewKeig/express-validation/blob/2.x/lib/index.js#L53), [it does have tests](https://github.com/AndrewKeig/express-validation/blob/2.x/test/integration/strip-unknown.js)

Documentation seems missing :'(

[2017-03-20 15:11] denkomanceski opened #61 "Custom error messages"
I want to use Joi's validate method to be able to add my custom validation message, because this is not very user friendly:
[code]
but Joi's validate message has 3 parameters: (value, schema, customMessage).. how do I achieve this ? I need to somehow inject value inside ?

[2017-03-23 17:41] #56 closed

[2017-03-30 23:15] ghost opened #62 "Test Timeout - jasmine.DEFAULT_TIMEOUT_INTERVAL"
I'm using your middleware with joi. When I added your middleware validation function the tests started to throw a timeout exception (see message bellow).

It sounds weird because I'm testing only Nodejs code, not in a browser.

The validation rule is:

[code]

The error message:

[code]

[2017-03-30 23:18] colthreepv commented on #62
Ok do you have an error handler Middleware?

Il 31 mar 2017 01:15, "ronaldo-getreveel" <notifications@github.com> ha
scritto:

[2017-03-30 23:20] ronaldo-getreveel commented on #62
Yes, I do.

[code]

[2017-04-25 17:44] blub0hr opened #63 "Joi any.error not working when function provided"
https://github.com/hapijs/joi/blob/v10.4.1/API.md#anyerrorerr

According to Joi docs one may provide a function to `.error`, however this does not change the error message when used with `express-validation`:

    Joi.string().lowercase().trim().required().error(() => "Please provide a string")

[2017-04-25 19:12] colthreepv commented on #63
I have to re-read myself the issue n #59 that was about this API as well

[2017-04-25 19:13] colthreepv commented on #54
I have plans :) I am using typescript, still this would be simple enough for this small library

[2017-05-08 16:47] spfurlong opened #64 "No Way to Use Dependencies"
Not sure if this is an issue or maybe just a new feature but in Joi you can do something like this:

const schema = Joi.object().keys({
    a: Joi.any(),
    b: Joi.any()
}).xor('a', 'b');

where then it is saying you can have either a or b but not both and that ends up in a attribute called "dependencies" in the Joi Object. There seems to be no way to get that "xor" section into the Joi schema wi

[2017-05-09 08:07] xeoneux commented on #54
@AndrewKeig @colthreepv any update on this?

[2017-05-09 09:03] colthreepv commented on #64
Usually express-validation doesn't really alter Joi functionality, it sounds strange to me.

It could be a simple problem of reference, usually in express-validation key reference is done with full path, example: `body.xyzkey` or `headers.x-sensitive-header`

Maybe set up a failing test and we'll fix it together

[2017-05-09 09:05] colthreepv commented on #54
Sorry I had no time to invest in this, It's my desire to do so, I estimate it's an afternoon work for a newbie typescript programmer.
express-validation it's quite short, most of it would be proxying Joi ts definitions.

I look into finding this afternoons time, but PRs or any input is welcome to speed me up

[2017-06-01 13:59] 3wweiweiwu opened #65 "Unable to check items in the array"
Assume we have following array, I am wondering if there is a way to validate the content of the array
{
    arr:[
        key1:5
        key2:3
    ]
}

[2017-06-09 20:49] vinodkumarmarupu commented on #61
any solution?

[2017-07-24 15:52] mantagen commented on #31
Getting seemingly strange behaviour, whereby if a joi validation schema item has `.required()`, the 400 is sent immediately.
If no `.required()`, but request still fails on that item, an error is thrown but after the handler has been entered.
Is this intended behaviour?

[2017-08-09 04:55] eliprand commented on #56
@dkMorlok can you elaborate on this? a code sample?
I get the gist of it, but I can't figure out where I am supposed to put this declaration of this to work.

[2017-08-20 01:48] Frankistan opened #67 "Global Error Handler is never executed"
According to the documentation here:  https://github.com/AndrewKeig/express-validation#distinguish-errors-from-validationerrors , the error handler is never reached although I got the validation errors in JSON format in the console but not in Postman

How could I get the validation errors in JSON format using Postman?

[2017-08-30 10:17] tesarm commented on #61
this could be done by modifying response:
https://github.com/AndrewKeig/express-validation#distinguish-errors-from-validationerrors

although it's not working currently - see https://github.com/AndrewKeig/express-validation/issues/67

[2017-08-30 10:33] tesarm commented on #67
can you send us your code? It works fine for me .

[2017-08-30 10:35] tesarm commented on #67
you are probably missing something like this:

[code]

[2017-08-31 05:43] afik opened #68 "Add own Joi context"
Is there a way for us to specify any values in context (not only from the request)
 to be used in the `ref` (https://github.com/hapijs/joi/blob/master/API.md#refkey-options)?

[2017-09-14 21:42] nardhar opened #70 "required() timeout error"
Hey, not sure if my problem goes here or to https://github.com/hapijs/joi/, so let me explain, I have this validation:
[code]
and if I send a request with ```{"firstname":"bob","lastname":""}```, I get the corresponding error since both are required.

But if I send the request with ```{"firstname":"bob"}```, it does not generate an error, in fact it does not generate anything at all, and my reques

[2017-09-14 21:45] nardhar commented on #70
I

[2017-09-23 09:39] awesomehimanshu opened #71 "Hi AndrewKeig your repo is nice and i have made same work for restify framework of node?"
https://github.com/awesomehimanshu/restify-validation

Thanks for good work. Will improve it more and if get any improvement in your repo will send you pull request.

There are lot of thing to improve when it come to complex body manipulation.

[2018-01-04 22:24] fega opened #74 "Add option allowEmptyBody: Boolean"
It could be useful when you need a patch request that shouldn't be empty, but none of the parameters are required (only you update whatever you need)

[2018-01-21 21:20] siluri opened #75 "no types for express-validation"
no types defined for import
[code]

[code]

[2018-01-26 15:40] fega commented on #54
I have this sketch, but I wasn't able to put parameters as Joi definitions,
@colthreepv @xeoneux @AndrewKeig  any suggestions?
[code]

[2018-01-28 06:17] mytharcher commented on #36
I am using v1.0.2 and still can't use array for body. Any updates?

[2018-02-10 11:39] eduardomoroni commented on #33
Is there a way to configure `express-validation` to use `application/json` as default?
Looks Hacky above solution

[2018-02-10 13:25] colthreepv commented on #33
It' documented [in the README][1], maybe it's not clear enough and I really need community help to make it clearer.
This behaviour has been changed in the past to leverage express.js general error handling

It is possible for `express-validation` to directly reply a response, but that would be way short-sighted, as writing error-handling in medium/big applications it's a key role and I think it sh

[2018-02-10 13:27] colthreepv commented on #75
I approve of this issue, this library has not received an update in a while, but it's codebase it's so thin that it should be useful even nodaways.

**But nowadays standard is having typings!**
I will apply a pr to typescript if I find the time

[2018-02-10 13:29] colthreepv commented on #71
Interesting, I am away from this project for awhile, could you post some examples?

[2018-02-10 17:25] colthreepv commented on #75
closing as duplicate of #54

[2018-02-10 17:25] #75 closed

[2018-02-25 13:13] mytharcher opened #77 "No Joi options API for i18n language config"
As in `lib/index.js` at [line:69](https://github.com/AndrewKeig/express-validation/blob/master/lib/index.js#L69)

[code]

May it configurable for the `joiOptions` which user could add other options like `language` for Joi?

I didn't find any approach or workaround to make it happen now, or did I miss anything?

[2018-03-15 11:56] isaachinman opened #78 "Possible to enable strict checking globally?"
Hi there, and thanks for a great middleware! Really, really useful.

One question - I'm wondering if it's possible to enable strict checking of say, `body` or `params` as a default behaviour instead of enabling this on a per-use basis.

This doesn't seem to be the case via the docs.

[2018-03-31 12:11] isaachinman commented on #78
@AndrewKeig Any info?

[2018-03-31 12:19] isaachinman commented on #78
**Update:** Looks like this is possible out of the box - might be unintentional as you're simply merging all incoming `opts` into `globalOptions`:

    // Set strict mode for all endpoints
    expressValidation.options({
      allowUnknownBody: false,
    })

[2018-03-31 12:19] #78 closed

[2018-04-04 12:50] eduardomoroni commented on #33
Even with that approach I didn't had Lucky.
![image](https://user-images.githubusercontent.com/823150/38308328-21c198ca-37ed-11e8-912e-7455fa688298.png)
![image](https://user-images.githubusercontent.com/823150/38308339-2810096e-37ed-11e8-9775-f7adba1b80ae.png)

I'm taking a look at `express-validation`, it seems there's no reference to change `res` to `html` or something like that. I'd say that t

[2018-04-05 14:36] hasanraza-axovel opened #79 "How to create custom error message for a field?"

[2018-04-05 17:26] brunolm commented on #54
Nowadays it's possible to ship a TypeScript definition file with the package, you only need two things:

- create a `.d.ts` file with your package definitions, example from `moment`
https://github.com/moment/moment/blob/develop/moment.d.ts

- add `"typings": "./your-file.d.ts",` in package.json, example from `moment`
https://github.com/moment/moment/blob/develop/package.json#L27

[2018-04-06 10:38] mirgj opened #81 "AssertionError using Joi schema definition with express-validation from a different module"
#### Context

* *node version*: v9.4.0
* *joi version*: 13.1.2
* *environment* (node, browser): node
* *used with* (hapi, standalone, ...): with express-validation
* *any other relevant information*: N/A

#### What are you trying to achieve or the steps to reproduce ?

I'm trying to define my Joi schema in one module and include it in different modules (the base definition are meant to be shared i

[2018-04-11 16:39] zsoltime commented on #33
@eduardomoroni Not sure if you've solved this already, but it seems you missed the last argument in your `errorHandler`. Express error-handling functions have four arguments (`err`, `req`, `res`, `next`) instead of three, so simply adding `next` should solve your problem.

[2018-04-11 17:35] eduardomoroni commented on #33
@zsoltime, Hey dude. You got an Eagle Eye! Thanks so much for your help.
Actually, the `next` param was not being. When I added it, worked.

[2018-05-18 11:29] biblicalph commented on #81
@mirgj Can you provide some sample data to the endpoints - data which passed validation and data which shouldn't pass validation.
I'm going to try and look into it and let you know

[2018-05-18 11:29] biblicalph commented on #79
@hasanraza-axovel Can you provide some description (sample) of what you are talking about here?

[2018-05-18 11:31] biblicalph commented on #77
@mytharcher Seems the options are rather limited here. I'd be happy to submit a PR to fix the above issue and possibly rewrite large sections of the app. I can work on it over the weekend.
Lemme know what you think

[2018-05-18 11:33] biblicalph commented on #74
@fega Can you provide some more information on the above? I can't really understand your use case or how to reproduce it

[2018-05-18 12:01] sppatel opened #83 "Only getting single generic validation error message"
My express routes are working and all the validation rules I've defined are being enforced, however on validation failure I am not getting any detailed errors - regardless of which rule fail, I get a 400 (as expected) but the response is always generic.

[code]

[2018-05-18 13:06] sppatel commented on #83
Nevermind.. this was caused by downstream middleware in my app that was dropping the errors property from the object.

[2018-05-18 13:06] #83 closed

[2018-05-18 14:29] mirgj commented on #81
@biblicalph just provide the data that will pass the validation. The second route (/y) will not work even if the data respect the schema

[2018-05-21 14:34] fega commented on #74
for example I want to send a PATCH request with the fields to patch in the body.

so all of the fields are optional to send, but body shouldn't be empty (because it is a nonsense)

[2018-07-05 12:18] ankit7878 commented on #61
it should give response in JSON instead of string.
express-validation give string in response . i think it may be because of "\" in response message. i dont know but how to get pure json instead of string in response ?

[2018-07-19 14:12] mytharcher commented on #77
@biblicalph Sounds good. But the latest update of this repo is from a year ago. Not sure if the author will take care of it.

[2018-08-07 02:51] fega commented on #74
Hello @biblicalph there is any thougths about? :)

[2018-08-29 14:03] pariola opened #85 "Error handlers don't work"
I tried using code from here and still wouldn't send as JSON instead sends as HTML.

[2018-09-06 12:45] nikksan commented on #79
Using custom joy error causes the server to hang!
[code]

[2018-09-13 15:50] nthgol commented on #36
+1 and it doesn't work I have the exact same use case as https://github.com/hapijs/joi/issues/1437#issue-297588870

[2018-09-23 09:05] Britskiy commented on #56
@dkMorlok @eliprand same question here, can you show code sample?

[2018-09-24 15:46] eliprand commented on #56
@Britskiy ,
Here is what I ended up doing:

Create a definition file (mine is `./definition.d.ts` ) and add the following:
[code]

This will add `isPassword()` as a custom validator, provide intellisense and make sure things compile properly. Remember that you still have to actually register those custom validator during the bootstrapping of your application.

The definition file can be anything,

[2018-09-24 15:52] Britskiy commented on #56
@eliprand thank you! now all works fine 👍

[2018-11-09 05:43] kzrfaisal opened #86 "OR operator between keys"
Hey there,

{
            poolId: Joi.string().required(),
            _id: Joi.string(),
            space: Joi.string().required().max(20),
            spaceType: Joi.string().required().max(20),
            description: Joi.string().required().max(100),
            pId: Joi.string()
}

How to give or condition so that it checks either one of the two '_id' or 'pId' should be present.

[2019-01-09 16:14] Dotcommando opened #87 "No server response for Joi.alternatives().try(...)"
`mock-file.validation.js`:

[code]

`mock-file.routes.js`:

[code]

I tried change alternatives like this:

[code]

[2019-01-24 14:48] abdelrahman-elkady opened #88 "Joi.default() should NOT alter the passed req.body"
Hello there,

After some debugging, I was in doubt that adding `.default()` to the schema would actually extend the `req.body` with this default, I did a test, and yes, it did so, apparently, this was added in #16

Honestly, I see this package as a thin validation layer, it should only do what Joi does, just validate the passed object with a schema, and not to mutate any passed object

`default` i

[2019-03-29 19:45] Boboss74 opened #89 "#46 was not fully merged"
Why is it (https://github.com/AndrewKeig/express-validation/pull/46/commits/01891988fb4c1099250dedeb88aaf5d3aab0e4c3) not released yet?

_Originally posted by @kitce in https://github.com/AndrewKeig/express-validation/pull/46#issuecomment-374712426_

[2019-03-29 20:34] colthreepv commented on #89
Replied you in #46

[2019-03-29 20:34] #89 closed

[2019-04-02 11:43] msudgh commented on #67
It doesn't work. never reach the specified middleware.
Maybe, you throw the error in the wrong way.

[2019-04-05 14:57] arb opened #90 "Maintained?"
Is this project still actively being maintained? The last commit was over 2 years ago and the used version of joi is several major versions behind.

[2019-04-08 11:34] fega commented on #90
I'd like to maintain it

[2019-04-08 12:35] colthreepv commented on #90
I think a good start would be reviewing development branches or Pull requests

Then I suggest to email AndrewKeig directly after you have a plan of action, eg:
- what to merge
-what not
-why
-there will be a next release?

[2019-04-08 13:18] arb commented on #90
I ask because there are quite a few joi + express validation libraries out there so I'm wondering if this is not still being maintained, we could suggest alternatives.

[2019-04-08 13:24] colthreepv commented on #90
That's also an option, if they provide a better support and similar/overlapping features I think it's viable.

From a (very) quick google search I didn't see anything **way** better supported/used etc.. but I can be wrong, hope to be wrong 😁

[2019-04-08 13:45] arb commented on #90
https://github.com/arb/celebrate is the one I maintain and seems to be feature compatible. I'd certainly be open to merging the two projects. One potential hiccup would be the version of joi mismatch. celebrate uses newest while express-validation lists joi as a peerDep.

[2019-04-08 16:14] fega commented on #90
@arb good project, I don't think that it will be a problem, since Joi api is pretty stable,

What I miss from your project is the options that this repo have like      allowUnknownBody

[2019-04-08 17:54] arb commented on #90
@colthreepv you can achieve that with basic joi schemas without needing to add any code to celebrate.

[2019-04-09 20:37] fega commented on #90
@colthreepv that would be awesome

[2019-04-10 12:54] arb commented on #90
So you're looking for a PR to add a migration guide to the README or just a migration guide posted here on this issue?

[2019-04-10 13:56] colthreepv commented on #90
Definitely a PR, I hope more contributors might see it and agree on this line of progress.
Maybe you can even ping Andrew and the contributors listed in the `package.json`

[2019-05-02 15:06] KErez commented on #36
Is this one solved? I still get this error.
I'm using Joi@14.3.1 and express-validation@1.0.2

[2019-05-12 08:56] johndcarmichael commented on #90
I just saw this "issue" after leaving a comment on my pr. This is great news it will be maintained, any chance we can get the dependency moved over to `@hapi/joi`? My pr is a pretty trivial drop in replacement and all tests are passing except a dependency on the ... operator fails travis. But supported anything older that the latest LTS of node seems a little pointless?

(I had to update the mix t

[2019-05-14 15:52] btav commented on #36
Here is a quick example of how to fix this issue by setting `contextRequest` to `true`.

[code]

[2019-05-16 12:02] colthreepv commented on #90
I am happy to see newfound activity on this project, but I have to admit I am against useless proliferation of npm libraries.

Having said that I am not against activity on this project that I found particularly useful in the past, I just hope that time spent contributing to opensource is as meaningful as possible

Towards that, I am quite convinced by @arb when he declares that [celebrate](https:

[2019-05-16 13:08] arb commented on #90
I completely agree @colthreepv! While choice can be good, it is, at times overwhelming.

Again, it it _not_ my intention to torpedo this lib. If it is secure and maintained, then it's fine. I only wrote celebrate because I was unable to find a joi + express middleware that worked how I believe it should.

[2019-05-16 13:13] isaachinman commented on #90
I am using this package in production in several places and am willing/able to maintain it.

However, if `celebrate` (despite a terrible name) is indeed a 1:1 replacement _and_ someone writes a nice migration guide, I will personally consider moving everything over, and imagine others would too.

[2019-05-16 13:42] arb commented on #90
`celebrate` is an _amazing_ name and it even has a logo! You celebrate your valid API arguments with joi! 😆

How would you want the migration guide? As a PR or wiki or?

[2019-05-16 15:16] isaachinman commented on #90
My point about the name was that it's not very searchable - I had never heard of it prior to this.

Let's start with a PR for a separate `MIGRATE_TO_CELEBRATE.md` doc, and potentially move it into the main README in the future.

[2019-05-17 07:51] isaachinman commented on #90
@arb One thing I'm wondering - does your package support imperative validation? There are times when requests need to be validated at runtime outside a middleware. #82 handles that for `express-validation`.

[2019-05-17 13:18] arb commented on #90
In that instance you'd just use `joi` directly rather than expanding the surface area of celebrate or express-validation.

[2019-05-17 13:49] isaachinman commented on #90
@arb No, I'd expect to receive a validation object in the exact same format.

[2019-05-20 13:09] arb commented on #90
You'd expect a validation object that's the same shape as the result of `celebrate` (as documented [here](https://github.com/arb/celebrate#errors)) or the same shape that the celebrate error handler spits out?

[2019-05-20 13:53] isaachinman commented on #90
Yes.

[2019-05-29 12:30] IuryBrasileiroMaiaSilva opened #92 "Error in package Joi"
The package joi was changed to @hapi/joi.

Erro: Cannot find module 'joi'.

It was necessary to change from joi to @hapi/joi at lib/index.js

[2019-06-03 19:04] codfish opened #93 "Custom validations"
Is there a way to write custom validators based on other fields? i.e. one field depends on another field's value, like if you've got two fields and you need one of them to be provided, so they are only required IFF the other one isn't sent?

[2019-06-18 11:45] abdelrahman-elkady commented on #88
Invalid proposal, closing this issue

[2019-06-18 11:45] #88 closed

[2019-07-17 07:29] juliuscc commented on #92
#96 should fix this

[2019-07-26 18:38] Vladimir86ns opened #97 "Where is the list of all validation rules?"
@

[2019-07-30 10:06] nivnahmias commented on #54
any updates on this issue?

[2019-07-30 16:34] #54 closed

[2019-08-05 08:15] Cherviakov opened #99 "Migrate to @hapi/joi"
https://www.npmjs.com/package/joi - this package has been deprecated.

[2019-08-05 17:19] isaachinman commented on #99
There are several PRs open for this already. Please search PRs and issues before opening new ones.

[2019-08-05 17:19] #99 closed

[2019-08-20 06:23] exislow commented on #92
@AndrewKeig could you please accept the PR #96. A fix would be great.

[2019-11-05 16:44] rbeer commented on #81
I just ran into the same issue, now in 2019. (DuckDuckGo search results got me here).

Solution: I've been using the renamed and updated `@hapi/joi` package to build the schema, yet express-validation uses the now abandoned `joi` package. Building the schema from `joi`, instead of `@hapi/joi` fixed my problem.

[2019-11-15 10:02] francescovigolungo commented on #21
I found a workaround, with `customSanitizer`

[code]

[2020-03-02 16:34] moremi opened #102 "Joi error"
TypeError: Joi.validate is not a function at validate (\node_modules\express-validation\lib\index.js:75:7)

    "@hapi/joi": "^17.1.0",
    "@types/hapi__joi": "^16.0.12",
    "express-validation": "^2.0.0",

[2020-03-02 16:37] AndrewKeig commented on #102
hey joi 17, removes the validate function, switch to joi 15, version 3 of this module will support joi 17, should be available in a couple of weeks.

[2020-03-02 16:37] #102 closed

[2020-03-05 23:57] #97 closed

[2020-03-05 23:57] AndrewKeig commented on #93
see joi, Closing, released 3.0

[2020-03-05 23:57] #93 closed

[2020-03-05 23:57] AndrewKeig commented on #92
Closing, released 3.0

[2020-03-05 23:57] #92 closed

[2020-03-05 23:59] #90 closed

[2020-03-05 23:59] AndrewKeig commented on #87
Closing, released 3.0

[2020-03-05 23:59] #86 closed

[2020-03-06 00:00] #79 closed

[2020-03-06 00:00] AndrewKeig commented on #77
Closing, released 3.0

[2020-03-06 00:00] #77 closed

[2020-03-06 00:01] AndrewKeig commented on #74
Closing, released 3.0

[2020-03-06 00:01] #74 closed

[2020-03-06 00:01] AndrewKeig commented on #71
Closing, released 3.0

[2020-03-06 00:01] #71 closed

[2020-03-06 00:01] AndrewKeig commented on #70
Closing, released 3.0

[2020-03-06 00:01] #70 closed

[2020-03-06 00:01] AndrewKeig commented on #68
Closing, released 3.0

[2020-03-06 00:01] #68 closed

[2020-03-06 00:02] AndrewKeig commented on #67
Closing, released 3.0

[2020-03-06 00:02] #67 closed

[2020-03-06 00:02] AndrewKeig commented on #65
Closing, released 3.0

[2020-03-06 00:02] #65 closed

[2020-03-06 00:02] AndrewKeig commented on #64
Closing, released 3.0

[2020-03-06 00:02] #64 closed

[2020-03-06 00:02] AndrewKeig commented on #63
Closing, released 3.0

[2020-03-06 00:02] #63 closed

[2020-03-06 00:03] AndrewKeig commented on #62
Closing, released 3.0

[2020-03-06 00:03] #62 closed

[2020-03-06 00:03] AndrewKeig commented on #61
Closing, released 3.0

[2020-03-06 00:03] #61 closed

[2020-03-06 00:03] AndrewKeig commented on #59
Closing, released 3.0

[2020-03-06 00:03] #59 closed

[2020-03-06 00:03] AndrewKeig commented on #57
Closing, released 3.0

[2020-03-06 00:03] #57 closed

[2020-03-06 00:03] AndrewKeig commented on #53
Closing, released 3.0

[2020-03-06 00:03] #53 closed

[2020-03-06 00:03] AndrewKeig commented on #35
Closing, released 3.0

[2020-03-06 00:03] #35 closed

[2020-03-06 00:04] AndrewKeig commented on #34
Closing, released 3.0

[2020-03-06 00:04] #34 closed

[2020-03-06 00:04] AndrewKeig commented on #33
Closing, released 3.0

[2020-03-06 00:04] #33 closed

[2020-03-06 00:04] AndrewKeig commented on #31
Closing, released 3.0

[2020-03-06 00:04] #31 closed

[2020-03-09 11:42] muzaffar622 opened #104 "keyByField is not works correctly"
I use keyByField inside validate middleware as validate(loginValidation, {keByField: true}, {})
bu even set as true its now works

[2020-03-09 12:32] muzaffar622 commented on #104
works after give abortEarly: false as joi option.
validate(loginValidation, {}, {abortEarly: false})

[2020-03-09 12:32] #104 closed

[2020-03-09 13:06] AndrewKeig commented on #104
hey @muzaffar622 , this should work ok without abortEarly, see __tests__/integration/keyed.test.js

[2020-03-10 13:23] babramczyk opened #105 "Changelog"
Currently on v1 but want to upgrade to v3, but there's no release notes.

A changelog detailing at least breaking changes would be helpful.

[2020-03-10 13:41] babramczyk opened #106 "`@types/hapi__joi` needs to be a prod dependency"
Since the `index.d.ts` file relies on `import`ing the types derived from `@types/hapi__joi`, and since packages consuming `express-validation` needs their TS to compile, this needs to be a `dependency` instead of a `devDependency`.

Otherwise, consumers using TypeScript will get the following error:

[code]

[2020-03-10 16:16] AndrewKeig commented on #106
@babramczyk, thanks for the issue, can I get a pr, would really appreciate this, typescript is not my thing, and I would ideally like someone who does use it to test it..

It also states 'or add a new declaration (.d.ts) file', can we do that instead?

[2020-03-11 10:17] jeremiedubuis opened #107 "Validation of multipart/form-data"
Hi, first I'd like to thank you for the lib that allowed me to save quite some time moving hapi server routes to an express server.

I can't seem to find any information on how to handle multipart/form-data payloads using express-validation. Is this handled ? From what I gather hapi uses a payload option outside of the validation object (https://hapi.dev/api/?v=19.1.1#-routeoptionspayloadallow) to

[2020-03-11 10:53] AndrewKeig commented on #107
hey @jeremiedubuis, many thanks.  So we simply call jois validate function on the payload supplied, so if joi can validate multipart so can we :), you can of course use https://github.com/expressjs/multer to parse that data,  this library should be able to validate the payload, if you so wish.

[2020-03-11 13:25] jeremiedubuis commented on #107
Oh thanks for that quick reply, I was wondering if any parsing was done on your side but I simply added a middleware function to pass the multipart data into req.body and everything is working now. Thanks again and sorry for the invonvenience.

[2020-03-11 13:25] #107 closed

[2020-03-11 17:37] Heartz66 opened #108 "express-validation does not mutate object"
Whenever I run this code:
[code]

I get this as result, as excepted:
[code]

Whenever I put the Joi.object() of above in express-validation for the body, it will return:

Is this as excepted? Does express-validation not mutate the objects like Joi does?

[2020-03-11 19:23] Heartz66 commented on #108
This happens because the `handleMutation` function only checks the first layer and does not check any nested objects. Isn't it easier to just replace the `body` parameter with the result of Joi validate in case of successful validation?

[2020-03-13 19:16] AndrewKeig commented on #108
If you look in the docs, you can configure this to work by setting context to true.

https://github.com/AndrewKeig/express-validation#options-object

[2020-03-14 12:59] Heartz66 commented on #108
Doesn't work, reading the docs I am unable to determine if the `context` variable is the way to solve this.

It happens because the `handleMutation` function only compares the keys of the first layer of the json, it doesn't compare inside nested objects. My first message contains a nested object with a default string, this string is not added being checked by the `handleMutation` check. I don't un

[2020-03-14 13:44] Heartz66 commented on #108
See this Runkit: https://runkit.com/heartz66/5e6cdf90115e4a001ad62c00

[2020-03-14 13:51] AndrewKeig commented on #108
hey @Heartz66, do you think you could put a pr together with a passing test.  I simply dont have time to resolve this, until late next week,  would really appreciate it.

[2020-03-14 15:40] babramczyk commented on #106
Sure thing. Should be a super simple fix.

If you're not familiar with what's going on -- basically, since `@types/hapi__joi` is a `devDependency`, when consumers of your package `npm i express-validation`, `@types/hapi__joi` will not be installed anywhere in their `node_modules`.

However, they will get your `lib/index.d.ts`, for which their TypeScript compiler will use for checking types for you

[2020-03-14 15:55] babramczyk commented on #106
@AndrewKeig opened https://github.com/AndrewKeig/express-validation/pull/109

[2020-03-15 10:30] AndrewKeig commented on #106
hey @babramczyk , before i merge this, can i ask one more thing, would you mind adding a typescript example to the readme, we have this example in javascript, could you typescriptify it :). and stick it in the readme, with any notes.  thanks.

[code]

[2020-03-15 21:05] Heartz66 commented on #108
I'll give it a try

[2020-03-16 16:58] Heartz66 commented on #108
I found the cause of this issue: the new express-validation wraps the body object inside a Joi object, joi objects don't handle defaults of nested Joi objects.. I will try to find a solution/workaround for this

[2020-03-16 20:43] babramczyk commented on #106
So with that example, there's really no "typescriptifying" to be done

With TypeScript, a lot of its compile-time checking will happen regardless of if you use type annotations or not.

The only way to really communicate that this package "works" with TypeScript would be to modify your JS example to be an incorrect usage of the package, demonstrating that TypeScript would error; I'm not sure this

[2020-03-16 21:12] AndrewKeig commented on #106
:), cheers dude.

[2020-03-16 21:12] #106 closed

[2020-03-16 21:22] AndrewKeig commented on #105
hey @babramczyk , I have a changelog here: https://github.com/AndrewKeig/express-validation/blob/master/CHANGELOG.md, anything you would like me to add, based on your experience of getting this working. :)

[2020-03-24 19:30] fega opened #110 "allowUnknownBody is gone, but there is no alternatives provided for refactoring in changelog"

[2020-03-25 01:20] AndrewKeig commented on #110
hey, Joi supports this like so:
[code]

[2020-04-03 09:48] isaachinman commented on #110
@AndrewKeig That's not ideal, as it doesn't support empty body/params/headers very well. We'd have to include an empty `Joi.object({}).unknown()` every time. Thoughts?

[2020-04-04 16:19] alex-w0 opened #111 "Async custom validation"
Is it possible to create a custom validator function that contains async stuff?

[code]

[2020-04-07 13:00] thenephew commented on #108
@Heartz66 did you manage to get this working?

I am facing the same issue with the following code:
[code]
The default values for `commission` and `price` are not assigned.

[2020-04-07 13:35] Heartz66 commented on #108
I haven't been able to find a solution for this yet, it's a `Joi` thing, it's not related to `express-validation`.

[2020-04-07 14:11] thenephew commented on #108
@Heartz66  setting the `{ context: true }` solves the issue, though the docs mention other use cases for `context`

@AndrewKeig maybe it would be good to mention this in the docs. Default values worked prior to **ver 2**

[2020-04-09 03:26] adriandarian opened #112 "Bug "schema[parameter].validateAsync is not a function""
I am using `express-validation v3.0.2` and `@hapi/joi v17.1.1`

I have a simple request

[code]

However, when I run my code it throws an error

```schema[parameter].validateAsync is not a function```

I checked in the actual library and on `express-validation/lib/index.js:18:55` a function called to validateAsync is called. In vscode when I hovered over the function name it just said `any`, which

[2020-04-12 06:22] vickyrathee opened #114 "Return schema context using HTTP GET requests"
I want to use the same schema to return defaults for HTTP GET and POST, and it's working fine for POST requests.

But how can I return the same context using GET request as well filled with default() values. My API will allow GET/POST with same schema.

[code]

It should return

[code]

[2020-04-12 07:05] vickyrathee commented on #114
This is how I am doing the GET validation using Joi directly. Looking for a way to do it using `express-validation`

[code]

[2020-04-20 18:02] Chechotkin commented on #112
@adriandarian
I had the same error when my schema looked like this
query: { page: Joi.number().min(1), ...}
But it should be like this
query: Joi.object({ page: Joi.number().min(1), ...})
wrapped in Joi.object

[2020-04-22 01:14] colcodev commented on #112
Thanks, @Chechotkin, it's working!
I am using `express-validation v3.0.2`, `node v12.16.2` and `import { Joi } from 'express-validation'`.

[2020-04-24 12:13] andrewcpacifico commented on #108
I'm having a similar issue, caused by some params defined as number:

[code]

When I try to use the `limit` and `offset` on my express handler, they are still strings.

Looking in the express-validation history, I saw that this line ensured the `request` mutation in the past: https://github.com/AndrewKeig/express-validation/blame/0c1bb7df38570fcfbdc0d28eb6f16f838957c0af/lib/index.js#L77 ... Is tha

[2020-04-26 18:22] Heartz66 commented on #108
It does set the defaults but only if the object is empty, if 1 field is not empty it won't default the whole object.

[2020-05-04 16:55] PitchLabsAsh opened #116 "Joi stripUnknown does not work"
handleMutation within mutation.js seems to exclude the possibility of fields striped by Joi from being removed from the req.body.

[2020-05-05 11:01] #112 closed

[2020-05-06 04:29] sikorsky555 commented on #108
I haven't been able to get this to work either using the latest of express-validation and @hapi/joi. Is there a solution for this?

[2020-05-06 05:13] sikorsky555 commented on #108
After looking at it a little more, it seems like the defaults were working as expected. The thing which is different is the type that was generated before in this scenario.

Before Joi.date().iso() would set that object to a Date object. Now it is simply a string which breaks other parts of our application. Is there any way to force it to mutate so this will work. I have pulled in express-joi-vali

[2020-05-07 01:19] andrewcpacifico commented on #108
Two weeks ago I opened a PR to add a `mutate` option: https://github.com/AndrewKeig/express-validation/pull/115

On my project I'm using the fork I created and it's working very well so far. I think the change I proposed on that PR can fix all problems related here.

[2020-05-18 19:28] #105 closed

[2020-05-18 20:47] AndrewKeig commented on #108
hey, thanks for this, see #115 for response.

[2020-05-18 20:57] AndrewKeig commented on #114
@vickyrathee, not sure I quite understand the issue, please look at the integration tests for examples, this one has tests related to default values:

https://github.com/AndrewKeig/express-validation/blob/master/__tests__/integration/defaultValues.test.js

[2020-05-19 03:41] sikorsky555 commented on #108
@andrewcpacifico I tried with context and it indeed does not work, as I would expect. The following information should shed some light on it. This indeed looks like a change in behavior from express-validation from before. Also linking to documentation from hapi.

https://hapi.dev/module/joi/api/?v=17.1.1#date

"Generates a schema object that matches a date type (as well as a JavaScript date strin

[2020-05-19 03:43] sikorsky555 commented on #108
If it is not possible to use the same workflow as before and express-validation will not support the default conversion by joi, I can work around it by using a different library, validating outside of middleware, or forking this and keeping that fork in sync with this library, but this is definitely not the same behavior as before.

[2020-05-19 08:24] AndrewKeig commented on #108
hey @sikorsky555, makes more sense now, thanks for your persistence.  Ive release 2.05 to npm with this fix, all under the context switch, many thanks.

[2020-05-20 19:42] dubiousandrew commented on #21
Going off the previous post, you can create your own reusable function like this:

[code]

and use it like this:
[code]

[2020-05-21 08:36] #108 closed

[2020-05-21 08:37] #114 closed

[2020-07-03 15:47] burgosa opened #117 "Sanitize values"
Is it possible to sanitize values while validating?

Body

[code]

Having the validation like so:

[code]

Should sanitize the body to:

[code]

[2020-07-23 05:18] Ciccio99 opened #120 "Strings in array are not converted when using modifiers (trim, lowercase)"
### Problem
When validating an array of strings that is sent through req.body, the strings in the array are not converted when using  modifiers such as trim(), lowercase(), etc.

### Schema:
[code]
### Example input data:
[code]
Expected joi validation/convert result:
`tags: ["swimming", "banana", "foo"]`

What I'm currently getting:
` tags ["swiMMing", "BaNana", "Foo"]`

[2020-07-23 06:25] #120 closed

[2020-07-23 06:27] Ciccio99 commented on #120
Discovered fix with the inclusion of { context: true } in the validate(schema, [options], ...) function.
Discussed thoroughly in #108.

[2020-08-17 11:14] gbkwiatt commented on #111
So is there ? Came across same issue. Trying to do validation in database with async function.
It works with non async, but with async it doesn't for return or error.
Tried alos @hapi/Joi but same issue. Can't make it work

[2020-08-18 04:36] TechRova opened #122 "TypeError: schema[parameter].validateAsync when running API call?"
When I call any route in my express server , I am getting this error

    TypeError: schema[parameter].validateAsync is not a function

        at validate (/home/techrova/Videos/VideoStream/node_modules/express-validation/lib/index.js:18:55)
        at /home/techrova/Videos/VideoStream/node_modules/express-validation/lib/index.js:26:25
        at Array.map (<anonymous>)
        at /home/techrova/

[2020-08-18 06:13] TechRova commented on #112
When I call any route in my express server , I am getting this error

    TypeError: schema[parameter].validateAsync is not a function

        at validate (/home/techrova/Videos/VideoStream/node_modules/express-validation/lib/index.js:18:55)
        at /home/techrova/Videos/VideoStream/node_modules/express-validation/lib/index.js:26:25
        at Array.map (<anonymous>)
        at /home/techrova/

[2020-08-18 15:21] frani commented on #112
@TechRova hi, did you try it with this changes ?

[2020-09-01 09:59] raphasil commented on #122
I am having the same problem :(

[2020-09-02 10:57] alibeknow commented on #122
i'm too

[2020-09-02 16:15] AndrewKeig commented on #117
Hey, we do not plan to support this.

[2020-09-02 16:15] #117 closed

[2020-09-02 16:20] AndrewKeig commented on #116
Should work now.

[2020-09-02 20:30] AndrewKeig commented on #122
@TechRova , hey did you manage to resolve this?  Can you tell me which of the routes is failing?

[2020-09-02 20:53] AndrewKeig commented on #111
@alex-w0 @gbkwiatt , not sure this works with async functions, works with non async, if you find a solution please add a test and a pr, thanks.

https://github.com/sideway/joi/blob/master/API.md#anycustommethod-description

[2020-09-02 20:53] #111 closed

[2020-09-06 12:21] viktorfa commented on #122
Wrap your _request paramater_, i.e. `body`, `params`, `query`, etc. in a `Joi.object` to fix this. See how the `validate()` function in  [/lib/index.js](https://github.com/AndrewKeig/express-validation/blob/master/lib/index.js) works to understand why.

Example solution for a simple route with an `:echo` param:
**Before**
[code]

**After**
[code]

[2020-09-07 16:30] KonradLinkowski commented on #116
Still doesn't work for me. I don't
[code]

I checked the code and I don't see any delete in the mutation.

[2020-10-15 07:00] daveanders opened #125 "How to convert comma separated query parameters to JOI array to validate each element"
Hi,

I have a multi-parameter scenario, where my GET request query looks like this http://example.com?items=one,two,three
I want to validate those items against a list of allowed items, e.g. **Joi.string().valid('one', 'two', 'three')**

My validation object looks like
[code]

I tried adding extended custom Joi instance that I found on internet, but it simply passes any rule I put inside items() c

[2020-10-15 14:38] daveanders commented on #125
There are couple of bugs in the solution found in internet.
Here is the result for anybody interested:

[code]

[2020-10-15 14:38] #125 closed

[2020-10-17 08:46] deepak-hce opened #126 "Links to Joi website for documentation are not working."
### **Joi.ref, Joi.defaults, and Joi.options are not opening in the documentation. Needs to update the latest links.**

![image](https://user-images.githubusercontent.com/47603898/96332619-c6adbd80-1082-11eb-960f-5dfb76f87d71.png)

**### After opening all the links, a black page with a header only opens. See the screenshot below.**

![image](https://user-images.githubusercontent.com/47603898/96332

[2020-11-08 13:39] nilkanth987 commented on #122
I solved the problem by
**Replacing**

`import Joi from 'Joi'`

**with**

`import {Joi} from 'express-validation'`

[2020-11-24 19:25] powersjcb opened #129 "Insecure logging of secret field values"
Example:
[code]

This is due to the nature of `Joi` including the `value` as part of the context about the error details.

https://github.com/AndrewKeig/express-validation/blob/b5da57abb1d7eefa36fa6c31808147f602fa6cef/lib/index.js#L20

I'm wondering if folks have thoughts about adding a config to `express-validation` to scrub `context.value` from error detail responses? This would be API compliant

[2020-11-27 14:47] bombillazo opened #131 "oneOf and wildcards not compatible"

[2020-11-27 16:19] #131 closed

[2021-01-09 10:21] basaran opened #132 "PR to include "session" for validation"
Hello,

Can I send a PR to allow "req.session" in schema objects?

It's actually just one line to be added to the `parameters.js`.

[2021-01-28 23:18] basaran commented on #132
Hello, I forked your project and published an NPM package.

`express-validation-session`

and kept all the licensing, and authoring information intact. Linking it to the main repo. If you do not approve, please let me know and I will change them. Thank you for making the package available.

[2021-01-28 23:18] #132 closed

[2021-02-24 16:01] cpitkin commented on #126
Links should be updated to: https://joi.dev/

[2021-02-24 18:47] deepak-hce commented on #126
Yes

[2021-02-24 18:47] #126 closed

[2021-02-26 09:42] breefstudio opened #135 "Failed build caused by `export class ValidationError extends JoiError {`"
latest change in v3.0.7 break my build

incompatible type ValidationError and JoiError, error occured after remove package-lock.json and node_modules then run `npm i`

[code]

[2021-02-26 12:07] rickrille commented on #135
Hi, I got the same error today. Did you find a workaround?

[2021-02-26 12:20] AndrewKeig commented on #135
sorry rolling back try 3.0.8

[2021-02-26 12:20] #135 closed

[2021-02-26 15:13] rickrille commented on #135
Thanks, problem solved in 3.0.8

[2021-03-11 16:49] cmdcarini opened #136 "JoiError and ValidationError type clashing"
The fix introduced in https://github.com/AndrewKeig/express-validation/pull/134 actually made our TS build pass. In versions before (and after) v3.0.7, our usage of the constructor ValidationError(message, details/req, original/res) fails as it isn't expecting parameters in the constructor (because one isn't defined by express-validation, but is in Joi).

Ex. of TS code that works in v3.0.7 but no

[2021-03-31 04:00] devatquarxps opened #137 "Joi.object().unknown(true) return 404"
[code]
returns 404 as the API response, even when the id is being passed.

[2021-04-06 08:24] jimmy-insignia commented on #116
yeah It's also stilll doesn't work with me. I'm using stripUnknown: true. but I still saw ignored fields in req.body properties. please help @AndrewKeig

[2021-06-11 02:32] tytom2003 opened #142 "error: TypeError: external_express_validation_default(...) is not a function"
My program show below error. How to solve the error? Thank you.
.post(external_express_validation_default()(articlevalidation), article_controller.articlePost);
TypeError: external_express_validation_default(...) is not a function

article.route.js
import express from 'express';
import validate from 'express-validation';
import articleCtrl from '../controllers/article.controller';
import paramVali

[2021-06-21 16:26] parseshyam commented on #21
can we add configuration flag like allowUnknown: false/true. hence by doing so we can totally avoid any security vulnerability that might cause disaster!
Here's the scenario : -

say my user model is
[code]

say for **user update** if my validation schema is as below:-

[code]

and for any user - update route say i'm updating user-model like so:-

[code]
If JSON data contain any fields which belon

[2021-09-07 05:00] thousandsofraccoons opened #146 "Validate response"
Thank you for the nice library, does the trick on request very well. Can it validate the response either?

[2021-10-24 11:09] yonirab opened #149 "Joi.boolean().default(true) leaves unspecified field undefined"
Thank you very much for this extremely useful package!

Either I am missing something, or Joi.boolean().default(true) doesn't seem to be working properly.
When a request is sent with an unspecified field, the validation is not filling in the default value.

Reproduction steps:

1. Run the following code:

[code]

2. Send a request with:

[code]

Actual result: `{"text":"hello"}` printed in termina

[2021-11-14 08:12] franziz commented on #149
I believe this is not only for `.default` in boolean. I tried for string, it also become undefined

[2021-11-18 01:42] radiorz opened #150 "Howt to translate the error into different languages?"
such as japanese,French etc.

[2021-12-17 05:42] awesomelike commented on #85
Still getting the same issue

[2021-12-26 05:33] ifeltsweet commented on #116
@AndrewKeig does not work for us too on v3.0.8.

[2022-02-15 19:29] joseluisdominguez opened #153 "joiOptions context not found"
Hi, I triying send context such as joiOptions

[code]

Always, request object override joiOptions context (file lib/joi.js)

![image](https://user-images.githubusercontent.com/9901320/154134818-5c40c01c-03a2-4007-879b-1793f796e067.png)

[2022-02-23 07:12] NishargShah commented on #149
Hello @AndrewKeig `default()` is not working for any type, can you please check!!

[2022-02-23 10:26] joseluisdominguez commented on #149
Hi, you must define option "context: true"

[2022-02-23 10:56] NishargShah commented on #149
I tried that but, I am passing that into the JoiRoot that is why I am not getting any results but after that, I realized there is also one option coming from your package and I passed there, and booooom, it's working.

Thanks :)

[2022-04-08 21:13] papandreou commented on #116
Fixed by #154

[2022-04-08 21:13] #116 closed

[2022-04-08 21:14] #149 closed

[2022-04-08 21:15] papandreou commented on #137
Please provide a full example that reproduces the problem.

[2022-04-08 21:17] papandreou commented on #122
If this is still a problem, please try to golf all of that code down to a minimal reproduction. Chances are you'll figure out what the problem is as part of that exercise :)

[2022-04-08 21:17] papandreou commented on #146
No, validating the response is out of scope.

[2022-04-08 21:17] #146 closed

[2022-04-08 21:19] papandreou commented on #150
The error messages are generated by Joi, so translating them is out of scope for `express-validation`. But check out https://github.com/sideway/joi/issues/2539

[2022-04-08 21:19] #150 closed

[2022-04-09 05:30] papandreou commented on #136
The change from #134 was reverted in 71b746e8e614f3abe9aea71a6beeed3d2a56e5b9, which was released in 3.1.0.

[2022-04-09 05:30] #136 closed

[2022-04-09 06:05] papandreou commented on #136
2nd attempt: https://github.com/AndrewKeig/express-validation/pull/157

The params for `ValidationError` are slightly different from what you put above: It's `new ValidationError({ body: [] }, {});`

[2022-04-09 06:11] papandreou commented on #137
Reopen with a full example if it's still and issue.

[2022-04-09 06:11] #137 closed

[2022-04-09 06:36] papandreou commented on #110
I agree that especially for `req.headers` and `req.body`, `Joi.object({})` provides a bit of a rough default when it comes to extra properties. For that reason I've ended up wrapping `express-validation` in my own app, which applies these options to the `headers` and `body` schemas:

[code]

Only applying `.unknown()` is bad, because it means that those unknown properties slip past the validation

[2022-04-09 12:39] #153 closed

[2022-04-09 12:47] papandreou commented on #153
Fixed released in 4.0.0

[2022-04-14 17:55] papandreou commented on #142
Sorry, this report is a bit of a mess. You should always try to provide a minimal reproduction. This spans multiple files, some of which aren't included (`../controllers/article.controller'

[2022-04-14 17:59] #142 closed

[2022-04-14 18:36] papandreou commented on #136
Should be fixed in 4.0.1 now.

[2022-04-15 09:39] papandreou commented on #122
I think this will help: https://github.com/AndrewKeig/express-validation/pull/160

[2022-04-19 14:05] papandreou commented on #129
See https://github.com/AndrewKeig/express-validation/pull/130#issuecomment-1094060164

[2022-04-19 14:05] #129 closed

[2022-04-26 21:54] #122 closed

[2022-06-23 12:13] ulalawell commented on #36
+1